.container {
  margin: 10vh auto 0;
  display: flex;
  flex-direction: column;
  width: 65%;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.editor {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  padding: 5px;
  padding: 1rem;
  color: #fafafa;
}

.uploadButton {
  margin-top: 10px;
  padding: 10px 10px !important;
}

.titleInput {
  margin-bottom: 10px;
  margin-top: 5px;
}
