.imageWrapper  {
    position: relative;
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: center;

    @media (max-width: 1100px) {
        width: 300px;
        height: 200px;
    }

    h4 {
        display: inline-block;
        position: absolute;
        left: 1rem;
        top: -2px;
        z-index: 2;   
        color: black;
        text-shadow: 1px 1px 1px #fafafa;
        display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
    }

    .img {
        width: 100%;
            height: auto;
        padding: 1.5rem 1rem;
        object-fit: cover;
        object-position: center;
        transition: all 0.4s ease;

        @media (max-width: 1100px) {
            width: 300px;
            height: 220px;
        }

        &:hover,
        &:active {
            padding: 0;
            box-shadow: 0 6px 8px rgba(0,0,0,0.4);
            border: 1px solid rgba(0,0,0,.125);
            cursor: pointer;
            transition: all 0.4 ease;

            + h4 {
                color: white;
                + p {
                    color: white;
                }
            }
        }
    }


    p {
        position: absolute;
        right: -5px;
        bottom: 2rem;
        text-orientation: sideways-right;
        writing-mode: vertical-lr;
        color: black;
        text-shadow: 1px 1px 1px #fafafa;

        @media (min-width: 768px) {
            right: -10px;
        }
    }

    > a {
        text-decoration: none;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

   
       
}