.container {
  position: sticky;
  top: 0vh;
  left: 0vw;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .container {
    top: 20vh;
    left: 0vw;
    width: 150px;
    flex-shrink: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1125px) {
  .container {
    width: 150px;
    flex-shrink: 0;
    margin-right: 0;
    margin-left: 0;
  }
}


.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
 padding: 0 1rem 0 0;
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: column;
    position: relative;
  }
}

.navigationItemWrapper {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .navigationItemWrapper {
    flex-direction: column;
  }
}

.navBtn {
  outline: none;
  border: none;
  padding: 0;
  display: flex;
  font-size: inherit;
  color: inherit;
  align-items: middle;
  align-items: middle;
  margin-bottom: 0.5rem;
  
}

.navBtn,
.navigationItem {
  display: flex;
  align-items: middle;
  margin: 0.25rem;
  color: inherit;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}
.navBtn:hover,
.navigationItem:hover {
  color: #333;
}

.textNeutral {
  color: #71717a;
}

.fontBold {
  font-weight: 500;
  background-color: #f5f5f5;
}

.navBtn,
.linkName {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.navBtn:hover,
.linkName:hover {
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
