.message {
    padding: 2rem;
    width: 40%;
    max-height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: linear-gradient(180deg, #111, #181818, #121212, #000);
    border: 1px solid #888;
    color: #f8f8f8;
    display: grid;
    place-content: center;
    transition: max-height 0.4s ease-in-out, background 0.5s ease, color 0.6s ease-in;
}