.syntax_error {
    position: relative;
    display: grid;
    place-content: center;

    .user_error {
        position: absolute;
        top: 30%;
        font-size: 4rem;
        padding: 0.75rem 1.25rem;
        background: 3px 3px 2px tomato;
        color: black;
        font-family: monospace;
        animation: errorGlitch 0.5s ease infinite forwards;
    }
}

@keyframes errorGlitch {
    0% {
            text-shadow: 1px 2px #545353, -2px -1px rgb(0, 0, 0);
    }
    25% {
            text-shadow: -2px -3px #dbdbdb, 1px 1px rgb(184, 81, 81);
    }
    50% {
            text-shadow: 2px -3px #6c6c6b, -1px 2px rgb(4, 4, 4);
    }
    75% {
            text-shadow: -4px -2px #d82312, -2px -3px rgb(220, 223, 223);
    }
    100% {
            text-shadow: 3px 1px #dd2323, 2px 1px rgb(225, 227, 227);
    }
  }
