.qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30vh auto 0;
    padding: 2rem 1rem 2rem;
    height: 100%;
}

.qrcode > img  {
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.3));
}

.qr {
    z-index: 1000;
}

.ticket {
    margin-top:10px;
    font-size: 1rem;
}

.time {
    margin: 1rem auto;
    font-size:  2rem;
    font-weight: 600;
}

.playerimg {
    position: absolute;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.playername {
    width: 80%;
    color: #Fafafa;
    z-index: 1000;
    text-shadow: 1px 1px rgba(0,0,0.325);
    padding: 0.5rem;
    border: 1px solid #88888879;
    border-radius: 10px;
}