@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");

.comments_form {
    margin: 2rem auto;
    border-bottom: 1px solid #ccc;
    width: 80%;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

      input[type='text'], textarea {
        width: 100%;
        margin: 0 0 1rem;
        padding: 10px;
        border: 0;
        border-radius: 10px;
        background: #f7f7f7;
        &::placeholder {
          font-family: 'Rubik', sans-serif;
          }
        &:focus {
          background: #fff;
          }
          }
      textarea {
        width: 80%;
        height: 80px;
        resize: none;
        }

       > button {
            margin-bottom: 1rem;
            padding: 5px 10px;
            border: 1px solid black;
            border-radius: 5px;
            background-color: white;
            font-size: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
        >  button:hover {
            background-color: #f5f5f5;
          }
}

