.content_wrapper {   
    position: relative;
    margin: 0 auto;
    margin-top: 10vh;     
    width: 100%;
    padding: 0;
    height: 80svh;
    background: linear-gradient(120deg, #fff 50%, #1b1b1b 50%);
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1;
    overflow: hidden;

    @media screen and (min-width: 1185px) {
      margin-top: 0;
      width: 66svw;
      padding: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    h2 {
        margin-bottom: 2rem;
        font-size: clamp(2rem, 3vw, 4rem);
    }
   
    .info {
      color: black;
      opacity: 0.3;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    
.section {
    position: relative;
    margin: 0vh auto 0;
    padding: 0.25rem 0;
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transform: translateX(100%) translateY(100%);
    background-repeat: no-repeat;
    animation: my-animation 50s linear infinite;

    @media screen and (min-width: 1185px) {
        padding: 1rem 0.5rem;
        -ms-flex-direction: column;
        flex-direction: column;        
        /* transform: translateY(100%); */
    }

    &:hover,
    &:active {
      animation-play-state: paused;
      cursor: pointer;  
    }
   
    h2:first-of-type {
      color: rgb(32, 32, 32);
      font-weight: 400;
    } 
  }

  .clr > p {
      color: white !important;
      padding: 0 0.5rem;
         }

  .images {
      animation: my-animation-2 40s linear infinite;

      @media(min-width: 778px) {
        padding: 0.25rem;
      }
  }
  
  @media (min-width: 1185px) {
  .section {
    height: 100%;
    width: fit-content;
  }
  
  .section.top {
    margin-bottom: 3rem;
    transform: translateY(-50%);
  }
  }
  
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
  {  
  
  }
}
  
@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
  
@keyframes my-animation-2 {

  0% {
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(-20%);
  }

  95% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }

  
}


@media(max-width: 1185px) {

  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-80%);
      -webkit-transform: translateX(-80%);
      transform: translateX(-80%);
    }
  }
    
  @keyframes my-animation-2 {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(-80%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
}
