.content_wrapper {   
  position: relative;
    margin: 0 auto;
    margin-top: 10vh;     
    width: 90%;
    padding: 0;
    height: 80svh;
    background: linear-gradient(120deg, #fff 50%, #000 50%);
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1;
    overflow: hidden;

    @media screen and (max-width: 1185px) {
      margin-top: 10vh;
      width: 100%;
      height: 100%;
      padding: 2rem 2rem;
      display: grid;
      grid-template-columns: 1fr;
    }

    h2 {
        margin-bottom: 2rem;
        font-size: clamp(2rem, 3vw, 4rem);
    }
   
    
.section {
    position: relative;
    margin: 0vh auto 0;
    padding: 2rem 0.5rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-repeat: no-repeat;
    transform: translateY(100%);
    animation: my-animation 50s linear infinite;

    @media(max-width: 1185px) {
      height: 220px;
      width: 100%;
      transform: translateX(100%) translateY(100%);
      flex-direction: row;
      padding: 0.25rem 0;
    }

    &:hover,
    &:active {
      animation-play-state: paused;
      cursor: pointer;  
    }
   
    h2:first-of-type {
      color: rgb(32, 32, 32);
      font-weight: 400;
    } 
  }

  .clr > p {
      color: white !important;
         }

  .even {
      transform: translateY(-30%);
      animation: my-animation-2 60s linear infinite;

      @media(min-width: 778px) {
        padding: 0.25rem;
      }
  }

  .slow {
    animation: my-animation-slow 80s linear infinite;
    
    @media(min-width: 778px) {
      padding: 0.25rem;
    }

    .imageWrapper {
      h4 {
        color: white;
      }
      p {
        color: white;
      }
    } 
  }
  
  @media (min-width: 1185px) {
  .section {
    height: fit-content;
    width: fit-content;
  }
  
  .section.top {
    margin-bottom: 3rem;
  }
  }
  
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
  {  
  
  }
}
  
@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
  
@keyframes my-animation-2 {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes my-animation-slow {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@media(max-width: 1185px) {

  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
    
  @keyframes my-animation-2 {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  
  @keyframes my-animation-slow {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}
