.comment {
    position: relative;
    padding: 10px 20px;
    background: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    .timestamp {
      color: #888;
      position: absolute;
      right: 20px;
      top: 10px;

      @media screen and (max-width: 768px) {
        font-size: 0.8rem;
      }
    }

    h4, p {
    margin: 10px;
} 

.button_section {
  margin-left: 0.75rem;
  display: flex;
  gap: 5px;
}

&:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
}

.reply {
  position: absolute;
  bottom: -1.5rem;
  left: 1.25rem;
  right: auto;font-family: monospace;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: #888;
    box-shadow: 0 6px 8px rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
    z-index: 10;
}
}
}
 