.container {
  padding: 0 2rem;
  margin-top: 10vh;
  padding-bottom: 20px;
  border-bottom: 1px solid #888;
  color: #fafafa;

  @media screen and (min-width: 768px) {
    margin: 10vh auto 0;
    width: 50%;
  }

  h2 {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.link {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.25rem;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.date {
  display: block;
  font-family: monospace;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: fit-content;
}

.author {
  margin-top: 40px;
  font-family: monospace;
  display: block;
  font-size: 14px;
}

.dateContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem 0;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.go_back {
  padding: 0.5rem 1rem;
  color: #282828;
  background-color: #f8f8f8;
  text-decoration: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 15vh;
  margin-left: -100px;
  transition: all 0.4s ease;
  z-index: 100;
  cursor: pointer;

> svg {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

  &:hover {
    background-color: #ee4e34;
    color: white;
  }

  @media screen and (max-width: 1024px) {
    top: 10%;
    margin-left: 0px;
    border-bottom: 4px solid #ee4e34;
    border-right: 4px solid #ee4e34;
   }
  @media screen and (max-width: 680px) {
    top: 75px;
    margin-left: 0;
    left: 2%;
  
  }
}
