.about {
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .content_wrapper {
        margin-top: 20svh;
        position: relative;
        z-index: 100;
        width: 100%;
        height: 60%;
        pointer-events: none;
      }
}