.about {   
    margin: 0 ;
    padding: 0;

    .content_wrapper {
      position: absolute;
      top: 20vh;
      left: 5%;
      width: 90%;
      pointer-events: none;
      display: none;

      @media screen and (min-width: 768px) {
        top: 20vh;
        left: auto;
        right: 5vw;
        width: 30vw;
        display: block;
      }

        marquee {
           width: 80%;
            color: #888;
        }
      }

.about_hero {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
    min-height: 50vh;
    background-image: url('../../public/images/robertwagar.webp');
    background-repeat: no-repeat;
    background-position: center left 10%;
    background-size: 100vh;
    opacity: 1;

  
    @media screen and (min-width: 768px) {
      background-position: center 25%;
      background-size: 100%;
    }

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.651);
      }
  }
  
  .about_wrapper {
      margin: 20vh auto;
      padding: 0;
      width: 65%;
      min-height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;   
      color: #121212;

      @media(max-width: 960px) {
        margin: 30vh auto;
        width: 100%;
      }

      h2:first-of-type {
        cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 1rem;
    margin-top: 8vh;
    font-size: 1.125rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 4px;
    background-color: transparent;
        background: #db491cc7;
        color: #ffffff;
        box-shadow: 0 0 5px #eb9a7a,
                    0 0 25px #eba37ab6,
                    0 0 50px #eb9e7a6e,
                    0 0 100px #eba37a34;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);

         &:hover {
            background: #ffffffc7;
            color: #db491c;
            box-shadow: 0 0 5px #fafafa,
                        0 0 25px #fafafab6,
                        0 0 50px #fafafa6e,
                        0 0 100px #fafafa34;
             -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
         }

      }
      
  
        section {
          padding: 4rem 0;
        }

        section:first-of-type {

            h2 {
                color: white;
            }
            p {
                padding: 2rem;
                margin-top: 4rem;
                color: white;
                background-color: black;
            }
        }
  
        h2 {
          padding: 1rem 0;
          font-size: clamp(2rem, 3vw, 4rem);       
        }
  
        p {
          padding: 1rem 0;
        }

        a {
            text-decoration: underline;
            font-weight: 600;
            color: #db491c;
        }
  
    }
      
   
    
}