.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 1000px;
    min-height: 100%;
    margin: 20vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    z-index: 10;
  }
  
  .container .box {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    break-inside: avoid;
    border-radius: 10px;
    background-color: transparent;
    background: #db491cc7;
        color: #ffffff;
        overflow: hidden;
  }

  .container .box:hover {
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    transform: translateY(-3px);
    box-shadow: 3px 6px 2px rgba(240, 73, 7, 0.267);
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;

    box-shadow: 0 0 5px #d46d44c9,
                    0 0 15px #c56a36b6,
                    0 0 25px #a33f106e,
                    0 0 50px #61260434;
         -webkit-box-reflect:below 1px linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.205) 40%);
         z-index: 100;
  }
  
  .container .box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(1);
    
  }

  .container .box:hover img {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    mix-blend-mode: color-dodge;
    scale: 1.2;
  }

  .container .box a {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1200px) {
    .container {
      width: calc(100% - 100px);
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 768px) {
    .container {
        width: calc(100% - 80px);
        grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .container {
        width: calc(100% - 60px);
        padding: 10vh 1rem 5vh;
        grid-template-columns: 1fr;
    }
  }

  .container .box .emptyImg {
    position: absolute;
    display: grid;
    place-content: center;
    background-color: #fe5858;
    background-image: linear-gradient(315deg, #ee9417be 0%, #fe5858cb 74%);
    width: 100%;
    height: 100%;
    height: 300px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 200;
    break-inside: avoid;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    z-index: 10;
  }

  .container .box .title {
    position: absolute;
    z-index: 100;
    top: 1vh;
    left: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: #1b1b1b;
    color: #fe5858;
    border-radius: 10px;
  }

  .title {
    display: inline-flex;
  }

.title > .word {
  display: flex;
  padding: 0 0.2rem;
}

  .word > .letter {
    
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.container .box:hover > .title {
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #fe5858;
    background-color: #fafafa;
      color: #121212;
}

.container .box:hover .title .word .letter:nth-child(1) {
  position: absolute;
    transform: translate(-110%, -100%) rotate(10deg);
    
}
.container .box:hover .title .word .letter:nth-child(2n) {
    transform: translate(0%, -10%) rotate(-6deg);
}
.container .box:hover .title .word .letter:nth-child(3n) {
    transform: translate(0%, 20%) rotate(5deg);
}
.container .box:hover .title .word .letter:nth-child(4n) {
    transform: translate(0%, -30%) rotate(-5deg);
}
.container .box:hover .title .word .letter:nth-child(5n) {
    transform: translate(0%, 10%) rotate(8deg);
} 
.container .box:hover .title .word .letter:nth-child(6n) {
    transform: translate(0%, -30%) rotate(-12deg);
}
.container .box:hover .title .word .letter:nth-child(7n) {
    transform: translate(0%, 60%) rotate(10deg);
}
.container .box:hover .title .word .letter:nth-child(8n) {
    transform: translate(0%, -15%) rotate(-12deg);
}
.container .box:hover .title .word .letter:nth-child(9n) {
    transform: translate(0%, 8%) rotate(15deg);
}
.container .box:hover .title .word .letter:nth-child(10n) {
    transform: translate(0%, -10%) rotate(-9deg);
}
.container .box:hover .title .word .letter:nth-child(11n) {
    transform: translate(0%, 42%) rotate(6deg);
}
.container .box:hover .title .word .letter:nth-child(12n) {
    transform: translate(0%, -17%) rotate(-5deg);
}
.container .box:hover .title .word .letter:nth-child(13n) {
    transform: translate(120%, 110%) rotate(-10deg);
}
