@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");

.comment_wrapper {
    padding-top: 1rem;
    margin: 10vh auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 60%;
    }
}

.comments_form {
    margin: 2rem auto;
    border-bottom: 1px solid #ccc;
    width: 80%;

    @media screen and (min-width: 768px) {
      width: 60%;
    }
  ul {
    list-style: none;
    margin-left: -40px;
    }
    li {
      margin-bottom: 15px;
      }

      input[type='text'], textarea {
        width: 100%;
        margin: 0 0 1rem;
        padding: 10px;
        border: 0;
        border-radius: 10px;
        background: #f7f7f7;
        &::placeholder {
          font-family: 'Rubik', sans-serif;
          }
        &:focus {
          background: #fff;
          }
          }
      textarea {
        width: 80%;
        height: 80px;
        resize: none;
        }

       > button {
            margin-bottom: 1rem;
            padding: 5px 10px;
            border: 1px solid black;
            border-radius: 5px;
            background-color: white;
            font-size: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
        >  button:hover {
            background-color: #f5f5f5;
          }
}

.comment_list  {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      width: 60%;
    }

    h2 {
        position: relative;
        margin: 2rem 0;
        font-weight: 600;
        font-size: calc(1.5vmin + 1.75vmax);
        color: white;
        -webkit-text-stroke: 0.1rem #121212;
        font-weight: 900;
        letter-spacing: 2px;
        transition: color 0.4s ease-in-out;
        font-family: 'Lato', sans-serif;

        &:hover {
          cursor: pointer;
          color: black;
        }
    }
}

.edit_section {
  display: flex;
  justify-content: space-between;
  gap: 1;

  input[type='text'] {
    width: 100%;
    padding: 1rem 0.25rem;
    border: 2px solid black;
  }

  p {
    color: #888;
  }

  
}