.qr {
    width: 80%;
    height: 80vh;
    display: grid;
    place-content: center;
    background: linear-gradient(180deg, #1F1930 0%, #8D21FF 30%,#120A1C 100% );
    border-radius: 25px;
    margin: 2rem auto;
}

.playerimg {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1000;
}

@media screen and (max-width: 769px) {
    .playerimg {
        transform: translateX(-70%);
        top: 20%;
        z-index: 1;
    }
}